@charset "utf-8";
/* CSS Document */
/* --------------------------------------
 *                共用元件
 * -------------------------------------- */
/*基本*/
.parent{
    position:relative;
    z-index:1;
}
.child{
    position:absolute;
    z-index:2;
}
.child:hover{
    width:270px; 
    height:270px;

}
body { 
  margin     : 0; 
  padding    : 0;
  font-family: \5FAE\8EDF\6B63\9ED1\9AD4, Arial, sans-serif ;
} 
.clearfix:before, .clearfix:after {   
    content:"";   
    display:table;   
}   
.clearfix:after{   
    clear:both;   
    overflow:hidden;   
}   
.clearfix{   
    *zoom:1;   
}
/*------共用--區塊_all------*/
.WRAPPER {position:relative; display:inline-block; margin:0; padding:0; overflow:hidden; width:100%;}
.WRAPPER * {-webkit-box-sizing:border-box; box-sizing:border-box;}
.WRAPPER img {  width:100%;  height:auto;}
.mainKv{max-width: 1240px; margin: 0 auto; position: relative;}
.category{max-width: 1240px; margin: 0 auto; position: relative;}

.forWeb{display: block;}
.forPhone {display:none;}
.mobile{ display: none; }
.head{width: 1240px; margin: 0 auto;}
.logo{width: 134px; display: inline-block; cursor: pointer;}
.fb-btn{padding: 18px 0PX; float: right;}
.linetest{
  display: inline-block;
  width: 69px;
  height: 28px;
  float: right;
  margin:18px 5px;
}
.linetest img{
  height: 28px;
  width: auto;
}
@media screen and (max-width:1200px){ 
	.WRAPPER{background-size:100%;} 
	.forWeb{display: none;}
	.forPhone {display: block;}
	.mobile{ display: block; }
	.mainKv img {max-width:100%;height:auto !important;}
	.category{width: 128%; overflow: hidden; margin-left: -13%;}
	.category img {max-width:100%;height:auto !important;}
    .top{ width: calc(100%/2 - 4px);
          height: 100%;
          margin: 5px 0px 0px 0px;
          padding: 0px;
          display: inline-block;
	}
}

/*左邊menu*/
.ui-toolbar,.ui-toolbar a{ font-family:Verdana, Geneva, sans-serif;}
.ui-toolbar a:hover{text-decoration:none;}
.b-arrow-r,.b-arrow-l{background:url("arrow.png") no-repeat;border-radius: 0px 8px 8px 0px}
.ui-btn{
    font-family:"Microsoft jhenghei", Arial, Helvetica, sans-serif;
    width:40px;
    height:40px;
    text-indent:100%;
    white-space:nowrap;
    overflow:hidden;
    cursor:pointer;opacity:0.9;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    text-align:right;
    background-color:#2d2d2d;
    display:block;
    margin-bottom:5px;}
.ui-btn:hover{background-color:#838383;}
.b-arrow-r{background-position:-40px 0;}
.b-arrow-l{background-position:0 0;}
.ui-toolbar{display:block;position:absolute;top:80px;width:123px;z-index:999;}
.ui-toolbar{ left:0;}

@media screen and (max-width:1200px){ 
    .RmenuArrow, .RmenuBox, .ui-toolbar  { display: none !important; }
}

/*menu_box*/
.menu_box{font-family:Arial,"Microsoft jhenghei", Helvetica, sans-serif;text-align:center;font-size:15px;top:70px;z-index:10000;background:rgba(0, 0, 0, 0.63);padding:4px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;width:118px;-webkit-transform:translateX(0);-moz-transform:translateX(0);transform:translateX(0);-webkit-transition:transform .25s;-moz-transition:transform .25s;transition:transform .25s;}
.menu_box2{font-family:Arial,"Microsoft jhenghei", Helvetica, sans-serif;text-align:center;font-size:15px;top:70px;z-index:10000;background:rgba(0, 0, 0, 0);padding:4px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;width:118px;-webkit-transform:translateX(0);-moz-transform:translateX(0);transform:translateX(0);-webkit-transition:transform .25s;-moz-transition:transform .25s;transition:transform .25s;}
.menu_box dl,.menu_box dd,.menu_box ul{margin:0;padding:0;}
.menu_box dd a{line-height:18px;display:block;margin:0 0 5px;}
.menu_box li,.menu_box .s_sub,.menu_box .site_evt li a{margin:0;padding:1px 0;}
.site_evt li a{margin:0;padding:4px 0;}
.menu_box .head{margin:0px auto 0;}
.menu_box .head a{display:block;width:110px;height:110px;}
.menu_box .s_sub dt{border-bottom:solid 1px #d3d3d3;font-size:18px;margin:5px;color:#fff;text-align:center;line-height:30px;}
.menu_box .s_sub d{font-size:18px;margin:5px;color:#fff;text-align:center;line-height:30px;}
.menu_box .menu_list{margin:0 0 3px;}
.menu_box .menu_list li a{font-size:15px;color:#e2e2e2;letter-spacing:2px;background:transparent;margin:4px;padding:0 4px;height:18px;overflow:hidden;}
.menu_box .menu_list li a:hover{background:#e2e2e2;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#000;}
.menu_box .menu_list1{margin:0 -8px 3px;}
.menu_box .menu_list1 li a{font-size:15px;color:#e2e2e2;letter-spacing:2px;background:transparent;margin:5px;padding:0 4px;height:18px;overflow:hidden;}
.menu_box .menu_list1 li a:hover{background:#e2e2e2;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#000;}
.menu_box .site_evt li{margin:-4px 0 -11px 0;}
.menu_box ul,.site_evt2{list-style:none;}


/*ui-toolbar*/
.ui-toolbar .menu_box{ margin-left:5px;}
.ui-toolbar .ui-btn.b-arrow-l,.ui-toolbar .ui-btn.b-arrow-r{left:0;}
.ui-toolbar.s_close .b-arrow-r,.ui-toolbar .b-arrow-l{display:block;}
.ui-toolbar.s_close .b-arrow-l,.ui-toolbar .b-arrow-r{display:none;}

.ui-toolbar.s_close .menu_box{-webkit-transform:translateX(-105%);-moz-transform:translateX(-105%);transform:translateX(-105%);}

.ui-toolbar .s_main dd>a{font-size:18px;color:#000;background:#e2e2e2;line-height:30px;}
.ui-toolbar .s_main dd>a:hover{background:#000;color:#fff;}
.ui-toolbar .menu_box .site_evt li{width:110px;height:46px;}

.ui-toolbar .menu_box2{ margin-left:5px;}
.ui-toolbar .ui-btn.b-arrow-l,.ui-toolbar .ui-btn.b-arrow-r{left:0;}
.ui-toolbar.s_close .b-arrow-r,.ui-toolbar .b-arrow-l{display:block;}
.ui-toolbar.s_close .b-arrow-l,.ui-toolbar .b-arrow-r{display:none;}

.ui-toolbar.s_close .menu_box2{-webkit-transform:translateX(-105%);-moz-transform:translateX(-105%);transform:translateX(-105%);}

.ui-toolbar .s_main dd>a{font-size:18px;color:#000;background:#e2e2e2;line-height:30px;}
.ui-toolbar .s_main dd>a:hover{background:#000;color:#fff;}
.ui-toolbar .menu_box2 .site_evt li{width:110px;height:46px;}
.site_evt2 li{margin:0;padding:0 0 5px;}
.site_evt3 li{margin:0;padding:0 -2px 0 10px;width:110px;height:110px;}

/********* 手機back to top 按鈕 *********/	
.toTopbtn { 
	display:none;
	position:fixed; 
	z-index:999;
	width:45px;
    height:45px;
	padding:3px; 
	font:13px/30px Arial, Helvetica, sans-serif; 
	line-height: 50px;
	text-align:center; 
	color:#fff;  
	background-color:rgba(164,164,164,0.7); 
	cursor:pointer;
	opacity: 1;
	 filter: alpha(opacity=80);
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
	border-radius:100%; 
}
.toTopbtn::before { 
	content: ""; 
	position:absolute; 
	top:6px; 
	left:17px; 
	border: 5px solid #000;
	border-color: transparent transparent #fff; 
}
@media screen and (max-width:768px){
.toTopbtn { 
	position:fixed;
	bottom: 9%;
	right: 3%;}
	
	}
/********* END// 手機back to top 按鈕 *********/
/********* 手機板下方menu *********/
@media only screen and (max-width: 1200px){
.flip, .flip2, .flip3, .flip4{
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	margin:0px;
	padding:5px 0 0 0;
	text-align:center;
	background: transparent -webkit-gradient(linear,left top,left bottom,from(#3b619a),to(#121143)) 0 0 no-repeat padding-box;
	color: #feface;
	cursor:pointer;
	font-family:'Arial','微軟正黑體';
	position:fixed;bottom:0;
	width:calc(100%/4);
	z-index: 999;
	}
.flip2{left:calc(100%/4);}
.flip3{right:calc(100%/4);}   
.flip4{right:0;} 

.flip a{color: #feface;}
.flip a:active{color: #feface;}
.flip2 a{color: #feface;}
.flip2 a:active{color: #feface;}
.flip3 a{color: #feface;}
.flip3 a:active{color: #feface;}
.flip4 a{color: #feface;}
.flip4 a:active{color: #feface;}

.tab-icon {
    background-image: url(bottom_tab-off01.png?t=220811);
	background-position: center;
    background-repeat: no-repeat;
    background-size: 35px 26px;
    width: 35px;
    height: 26px;
    margin: 2px auto 0;
	}
.tab-icon2 {
    background-image: url(bottom_tab-off02.png?t=220811);
	background-position: center;
    background-repeat: no-repeat;
    background-size: 35px 26px;
    width: 35px;
    height: 26px;
    margin: 2px auto 0;
	}
.tab-icon3 {
    background-image: url(bottom_tab-off03.png?t=220811);
	background-position: center;
    background-repeat: no-repeat;
    background-size: 35px 26px;
    width: 35px;
    height: 26px;
    margin: 2px auto 0;
	}
.tab-icon4 {
    background-image: url(bottom_tab-off04.png?t=220811);
	background-position: center;
    background-repeat: no-repeat;
    background-size: 35px 26px;
    width: 35px;
    height: 26px;
    margin: 2px auto 0;
	}
.panel2{
	margin-bottom:55px;
	padding:10px 10px 15px;
	text-align:center;
	background-color: rgba(0,0,0,0.7);;
	border:solid 1px #c3c3c3;
	display:none;
	font-family:'Arial';
	font-size: 3.5vw;
	position:fixed;
	bottom:0;right: 0;
	width:100%;
	z-index: 888;
	clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 35% 95%, 38% 100%, 41% 95%, 0 95%);
	}
.panel2 li{
	width: 20vw;
    line-height: 6vw;
    margin: 1vw 0.5vw;
    padding: 1vw;
    background: #F8C136;
    border-radius: 3px;
    list-style: none;
    display: inline-block;
	}
.panel2 li a{
	color: #102f4b;
	}
.panel3{
	margin-bottom:55px;
	padding:10px 10px 15px;
	text-align:center;
	background-color: rgba(15,48,74,0.7);;
	border:solid 1px #c3c3c3;
	display:none;
	font-family:'Arial';
	font-size: 3.5vw;
	position:fixed;
	bottom:0;right: 0;
	width:100%;
	z-index: 888;
	clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 81% 95%, 83% 100%, 85% 95%, 0 95%);
	}
.panel3 li{
	width: 20vw;
    line-height: 6vw;
    margin: 1vw 0.5vw;
    padding: 1vw;
    background: #F8C136;
    border-radius: 3px;
    list-style: none;
    display: inline-block;
	}
.panel3 li a{
	color: #102f4b;
	}
}
/********* END手機板下方menu *********/	
/* --------------------------------------
 *                背景
 * -------------------------------------- */
/*PC背景*/
.bg1240{ position: relative; background: url() no-repeat top center; }
.rulebg { position: relative; background:url() repeat #63c8e1; padding: 30px 2px;}
.bg01 { position: relative; background:url("../../images/bg_01.jpg") no-repeat  center 50px #2b282a;padding-top: 46px;}
.bg02 { position: relative; background:url("../../images/bg_02.jpg") no-repeat top center #2b282a;}
.bg03 { position: relative; background:url("../../images/bg_03.jpg") repeat top center #2b282a;}
.bg04 { position: relative; background:url("../../images/bg_04.jpg") repeat top center #2b282a;}
.bg02_b { position: relative; background:url("../../images/bg_b_04.jpg") no-repeat top center #2b282a;}
.bg03_b { position: relative; background:url("../../images/bg_b_05.jpg") repeat top center #2b282a;}
.bg04_b { position: relative; background:url("../../images/bg_b_06.jpg") repeat top center #2b282a;}
.bg02_c { position: relative; background:url("../../images/bg_c_04.jpg") no-repeat top center #2b282a;}
.bg03_c { position: relative; background:url("../../images/bg_c_05.jpg") repeat top center #2b282a;}
.bg04_c { position: relative; background:url("../../images/bg_c_06.jpg") repeat top center #2b282a;}
.bg02_d { position: relative; background:url("../../images/bg_d_04.jpg") no-repeat top center #2b282a;}
.bg03_d { position: relative; background:url("../../images/bg_d_05.jpg") repeat top center #2b282a;}
.bg04_d { position: relative; background:url("../../images/bg_d_06.jpg") repeat top center #2b282a;}
.bg05 { position: relative; background:url("../../images/bg_05.jpg") no-repeat top center #2b282a;}
.sectionBg0{/*底下套版背景*/
	text-align:center;
	padding: 0 0 0px;
	background: url(../../images/bg_01_1.jpg) #2b282a repeat top center ;
}
.sectionBg{/*底下套版背景*/
	text-align:center;
	padding: 0 0 0px;
	background: url(../../images/bg_03.jpg) #2b282a repeat top center ;
}
.sectionBg2{/*底下套版背景*/
	text-align:center;
	padding: 0 0 0px;
	background: url(../../images/bg_05.jpg) #2b282a repeat top center;
}
.sectionBg3{/*底下套版背景*/
	text-align:center;
	padding: 0 0 0px;
	background: url(../../images/bg_13.jpg) #993233 repeat top center;
}
.sectionBg4{/*底下套版背景*/
	text-align:center;
	padding: 0 0 0px;
	background: url(../../images/bg_14.jpg) #993233 repeat top center;
}
.sectionBg5{/*底下套版背景*/
	text-align:center;
	padding: 0 0 0px;
	background: #5ddcdb repeat top center ;
}
.sectionBg.weekly{padding: 0 0 50px;}
/*Phone背景*/
@media screen and (max-width:1240px){ 
	.bgm01{ 
		background-image:url(../../images/bgm_01.jpg) ;
		background-size:100%;
    	background-position: top center;
    	background-color: #2b282a;
	}
	
	.bgm02{ 
		background-image:url(../../images/bgm_02.jpg) ;
		background-size:100%;
    	background-position: top center;
    	background-color: #2b282a;
	}
	.bgm03{ 
		background-image:url(../../images/bgm_03.jpg) ;
		background-size:100%;
    	background-position: top center;
    	background-color: #2b282a;
	}
	.bgm03_b{ 
		background-image:url(../../images/bgm_b_03.jpg) ;
		background-size:100%;
    	background-position: top center;
    	background-color: #2b282a;
	}
	.bgm03_c{ 
		background-image:url(../../images/bgm_c_03.jpg) ;
		background-size:100%;
    	background-position: top center;
    	background-color: #2b282a;
	}
	.bgm03_d{ 
		background-image:url(../../images/bgm_d_03.jpg) ;
		background-size:100%;
    	background-position: top center;
    	background-color: #2b282a;
	}
	.bgm04{ 
		background-image:url(../../images/bgm_04.jpg) ;
		background-size:100%;
    	background-position: top center;
    	background-color: #2b282a;
	}
	.bgm03_1{ 
		background-size:100%;
    	background-position: top center;
    	background-color: #2b282a;
	}
	.bgm04{ 
		background-image:url(../../images/bgm_04.jpg) ;
		background-size:100%;
    	background-position: top center;
    	background-color: #2b282a;
	}
	.bgm05{ 
		background-image:url(../../images/bgm_05.jpg) ;
		background-size:100%;
    	background-position:  top center ;
    	background-color: #2b282a;
	}
	
	.bgm06{ 
		background-image:url(../../images/bgm_06.jpg) ;
		background-size:100%;
    	background-position: repeat top center ;
    	background-color: #2b282a;
	}	
	.bgm07{ 
		background-image:url(../../images/bgm_07.jpg) ;
		background-size:100%;
    	background-position:  top center ;
    	background-color: #741f22;
	}	
	.bg05_3{ 
		background-image:url(bgm_05_3.jpg) ;
		background-size:100%;
    	background-position:  top center ;
    	background-color: #2b282a;
	}
	.sectionBg2{
		padding: 0;
        background: url() repeat top center ;
		background-color: #0e71b5;
	}
	.sectionBg{
		padding: 0;
        background: url() repeat top center ;
		background-color: #0e71b5;
	}	

	.fin{padding: 0 0 8vw;}
}

/* --------------------------------------
 *                Footer
 * -------------------------------------- */
.footer { padding: 10px 0px; font-size: 12px; line-height: 14px; background: #FFF; }
.footer p { margin: 0px; text-align: center; }
.footer a {	color: #0072ff; text-decoration: none; }
.footer a:hover { color:#0072ff; text-decoration: underline; }
.copyright { font-size: 10px; color: #6f6f6f}
.footerbox{width: 1240px; margin: 0 auto;}
@media screen and (max-width:1240px){ 
	.footerbox{width: 100%; margin: 0 auto;}
}



/********* 右側menu *********/
.RmenuArrow {
    position: fixed;
    width: 40px;
    z-index: 999;
    top: 80px;
    right: 0;
    cursor: pointer;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    margin-bottom: 1px;
    text-align: right;
    background-color: #2d2d2d;
	border-radius: 8px 0 0 8px;
}
.RmenuArrow:hover {
    background-color: #565656;
}
#RMenuIn {
    display: none;
}
.RmenuBox {
    width: 122px;
    position: fixed;
    z-index: 10000;
    top: 124px;
    right: 0;
    background-color:#0d5397;
	border-radius: 8px 0px 0px 8px;
	font-family: Verdana,'微軟正黑體';
	
}
.RmenuBox ul{padding:0; margin:0;}
.RmenuBox li {
    width: 100%;
    text-align: center;
	list-style:none;
	padding:0;
	margin:0;
}
.RmenuBox li a{
    color: #fff;
    display: block;
    padding: 3px 3px;
    border-radius: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.RmenuBox p{margin:0; }
.RMenuBtn, #RmenuTop a {
    width: 100%;
    text-align: center;
    padding: 12px 5px 8px;
    margin-bottom: 1px;
    font-size: 14px;
	line-height: 20px;
    cursor: pointer;
    position: relative;
    color: #fff;
}
.RMenuBtn:hover, li.nav-active, li.nav-active p {
    background-color: #96dad7;
    color: #101010;
	border-radius: 16px;
}
.RMenuBtn::before {
    content: '';
    position: absolute;
    width: 86%;
    height: 1px;
    bottom: -4px;
    right: 7%;
    background: #000;
	opacity: 0.3;
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    z-index: 9999;
}
.RmenuTop::before {
    height: 0;
}
.topArrow {
    width: 20px;
    height: 20px;
    vertical-align: -2px;
}
.RmenuTop {
    padding: 5px 8px 8px 0;
}
/********* END/右側menu *********/

/********* 手機板上方menu *********/
.mFixed {
    position: fixed;
    top: -1px !important;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.scroll_mob::-webkit-scrollbar {
    height: 0px
}
.scroll_pc::-webkit-scrollbar {
    height: 0px
}
.scroll_pc::-webkit-scrollbar-track {
    background-color: #EAEAEA;
}
 
.scroll_pc::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 0px solid slategrey;
}
#menu {
    width: 100%;
    height: 30px;
    z-index: 999;
    text-align: center;
    color: #fff;
    font-size: 15px;
	font-family: '微軟正黑體';
    line-height: 20px;
    padding: 2px 5px;
	background:cornflowerblue;
    border-bottom: 0px solid #eee;
    transition: 0s;
    -webkit-transition: 0s;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space:nowrap;
}
#menu a {
    color: #fff;
}
#menu span {
    vertical-align: baseline;
    font-weight: normal;
    color: #fff;
}
#menu .btn-bottom {
    height: 100%;
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: auto;
    padding:2px 3px;
    white-space:nowrap;
}

#menu .btn-bottom:nth-last-child(1)::before {
    width: 0px;
}
@media only screen and (max-width: 1200px) {
    .RmenuArrow, .RmenuBox  { display: none !important; }	
}
/********* END手機板上方menu *********/	




/*複製文字*/
button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: #eedfe0;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color:transparent;
    box-sizing: border-box;
    margin: 0em;
    padding: 0px;
    border-width: 0px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
/*版頭*/
.ikeywords{width:1240px;margin:0 auto 30px;padding:10px 0px;	 }
.ikeywords h3{font-size: 28px;font-weight: 600;color: #2d4da0;text-align: left;border-left: solid 10px #2d4da0;vertical-align: bottom;margin: 14px 44px;
    padding: 0 14px;}
.week{position:absolute; font-size:36px; color:#000; padding-top:18px; padding-left:355px; width:1240px; text-align:left;}
.tittletittle{width: 1240px; padding-top:30px; color:#FFF; text-align:center; font-size:48px; font-weight: 600;position: inherit;}.maintop{width:1240px; margin: 0 auto; text-align: center; padding:0; position: relative;}
.event_coupon{position: absolute;width: 426px;top:269px;left: 408px;}
.event_rule{position: absolute;width: 95px;top:440px;right: 300px;}







/********* 下面格廣告 *********/
.btm_ad{width: 1240px; margin: 0 auto;}
ul.adarea{padding: 0; margin: 0;text-align: center;}
.adarea li{width: calc(100%/4 - 6px); display: inline-block;margin-bottom: 5px;}
.adarea li img{width: 100%; max-width: 100%;}
@media only screen and (max-width: 1200px) {
	.btm_ad{width: 100%; margin: 0 auto;}
	ul.adarea{padding: 0; margin: 0;}
	.adarea li{width: calc(100%/2 - 5px); display: inline-block;}
}



/*活動說明*/
.rule{ width: 1220px; margin: 0 auto; padding:20px 50px 50px; font-size:18px; line-height:30px; text-align:left;color:#436991;font-family: '微軟正黑體';background: #fff;border-radius: 12px;}
.rule a{color: cornflowerblue;}
.rule a:hover{color: palevioletred;}
.rule ul{list-style:none;margin-left:14px;}
.rule ol{list-style: none;  border-radius: 20px; padding: 2px 12px;}
.rule p{color: #000;font-size: 22px;line-height: 32px;padding: 10px 0;font-weight: bold;text-align: center;}
.rule h1{font-size: 22px; line-height: 38px; padding-bottom: 16px;}
.rule h2{font-size: 22px; line-height: 24px; color: #e02c6d; margin: 12px 15px 4px;}
.rule label{color: #fff; font-size: 22px; margin: 35px 30px 10px; padding: 4px 10px;
    background-color: #e02c6d; border-radius: 10px; display: block; width: 216px; text-align: center;}
@media screen and (max-width:1240px){
	.rule{ width: 100%; padding:2vw 4vw 5vw; font-size: 3.5vw; line-height:6vw; text-align:left; }
	.rule ul{margin: 0; padding:1vw 0 2vw ; background: none;}
	.rule ol{margin: 0; padding:0vw 0vw 2vw; }
	.rule ol li{margin: 1vw;}
	.rule p{font-size: 4vw;line-height: 5vw;}
	.rule h1{font-size: 4vw; line-height: 6vw; padding-bottom: 2vw;}
	.rule h2{font-size: 4vw; line-height: 6vw; margin: 2vw 0 1vw;}
	.rule label{font-size: 3vw; line-height: 5vw; margin:2vw auto; padding: 1vw 10vw;}
}
.rule ol>li>ol{
      display: block;
    }
    input[type=checkbox]{
      display: none;
    }
    ol li input[type=checkbox]:checked+ol{
      display: none;
    }


/*版頭動效*/

.rubberBand {
    -webkit-animation-name: rubberBand ;
    animation-name: rubberBand ;

}

.brightness-play { 
	-webkit-animation:brightness2-play 1.8s -0.2s linear infinite ; 
	animation:brightness2-play 1.8s -0.2s linear infinite ;
	}
@keyframes brightness2-play {
	  0% { 
		filter:brightness(100%);
	  }
	  80% { 
		filter:brightness(100%);
	  }
	  90% { 
		filter:brightness(130%);
	  }
	  100% { 
		filter:brightness(100%);
	  }
	}
.brightness-playb { 
	-webkit-animation:brightness2-play 2.8s -0.1s linear infinite ; 
	animation:brightness2-play 2.8s -0.1s linear infinite ;
	}
@keyframes brightness2-play {
	  0% { 
		filter:brightness(100%);
	  }
	  80% { 
		filter:brightness(100%);
	  }
	  90% { 
		filter:brightness(130%);
	  }
	  100% { 
		filter:brightness(100%);
	  }
	}

.flip-in-y:hover
{
    -webkit-animation: flip-in-y 1.2s;
            animation: flip-in-y 1.2s;
}
@keyframes flip-in-y
{
    0%
    {
        transform: perspective(500px) rotateY(70deg);

        opacity: .2;
    }
    30%
    {
        transform: perspective(500px) rotateY(-50deg);
    }
    45%
    {
        transform: perspective(500px) rotateY(30deg);
    }
    65%
    {
        transform: perspective(500px) rotateY(-20deg);
    }
    85%
    {
        transform: perspective(500px) rotateY(10deg);
    }
    100%
    {
        transform: perspective(500px) rotateY(0deg);
    }
}
@-webkit-keyframes flip-in-y
{
    0%
    {
        -webkit-transform: perspective(500px) rotateY(70deg);

        opacity: .2;
    }
    30%
    {
        -webkit-transform: perspective(500px) rotateY(-50deg);
    }
    45%
    {
        -webkit-transform: perspective(500px) rotateY(30deg);
    }
    65%
    {
        -webkit-transform: perspective(500px) rotateY(-20deg);
    }
    85%
    {
        -webkit-transform: perspective(500px) rotateY(10deg);
    }
    100%
    {
        -webkit-transform: perspective(500px) rotateY(0deg);
    }
}

/***** 每周限量 *****/
.content_weekly{width:1240px; margin:0 auto;text-align:center; padding:15px 4px 2px;}
.weekly_store{width: calc(100%/6 - 10px);  display: inline-block; position: relative;margin: 0px 2px 10px 2px;padding: 0px 0 6px; border-radius: 40px;z-index: 990;}
.weekly_store_name{ font-size:18px;  color: #004d38;  padding: 0px 10px;  margin: 0px 0 8px; }
.weekly_storeshop{position: absolute; top: 6px; right: 70px; width: 86px; z-index: 6;}
.weekly_storeshop2{display: none;}
.weekly_storeshop img{width: 100%!important; height:inherit!important;}
.weekly_pd{width: 100%; display: inline-block; margin: 0px 0px 5px; padding: 2px 0 6px; background: #fff;border-radius: 8px;}
.weekly_pd:hover { 
	-webkit-transform:translateY(-4px); 
	transform:translateY(-4px); 
}
.weekly_imgbox{padding: 8px;position: relative;}
.weekly_imgbox img{width:100%;}
.weekly_new{position: absolute; width: 100px; top:3px; left: 3px;}
.weekly_new2{display: none;}
.weekly_new img{width: 100%;height: auto;}
.weekly_name{ display: block;color: #1c1c1c; font-size: 18px;  line-height: 24px; text-align: center;  padding: 2px 0 10px;}
.weekly_price{ display: block; color: crimson; font-size: 18px; font-weight: bold; padding: 6px 0 0;position: relative;}
.weekly_price b{font-size: 30px; letter-spacing: -2px; position: relative; top: -5px;}
.weekly_price c{font-size: 12px;color: gray;padding-right: 8px;text-decoration: line-through;}

@media (max-width: 768px) {
	.content_weekly{
	width: 100%;
    margin: 0 auto;
    text-align: center;
	padding: 2vw 1vw 0vw;
	border: none;
}
	.weekly_store{
	    width: calc(100% - 0vw);
    margin: 0vw 0vw 0vw;
    padding: 0vw 0 1vw;
    border-radius: 3vw;
	z-index: 1;
	}
	.weekly_store_name{
	     width: 100%;
    font-size: 5vw;
    margin: 0 auto;
    padding: 2vw 5vw;
    background-size: cover;
	}
	.weekly_imgbox{
	width: 100%;
		padding: 3px;
	}	
	.weekly_imgbox img{width: 100%;}
	.weekly_new{
	    width: 30%;
    top: 1vw;
    left: 1vw;
	}
	.weekly_pd { 
	    width: 47%;
    padding: 1px 0 2vw;
    margin: 0vw;
    border-radius: 2vw;
 	}
	.weekly_storeshop{
        top: 0.5vw;
    right: 4vw;
    width: 24%;
}
.weekly_storeshop img{
	width:100%!important; 
	height:inherit!important;
	}
	.weekly_name {
    padding: 1vw;
    font-size: 4vw;
    line-height: 5.5vw;
	}
	.weekly_price {
    font-size: 3.6vw;
    line-height: 5vw;
	}
	.weekly_price b {
		font-size: 6.5vw;
    top: -0.8vw;
	}
	.weekly_price c{
	font-size: 2vw;
    padding: 0 0 2vw;
    display: block;
	}
	
	.weekly_store.last {
        width: calc(100% - 0vw);
	}
	.weekly_store.last  .weekly_pd {
     width: calc(100%/2 - 1vw);
    padding: 0 0;
	}
}
/***************** END/每周限量 *********************/
/*動效*/
.bounce-in-top {
	-webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-15 17:33:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
.fadeInDowna {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-delay: 0.1s;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInDownb {
  -webkit-animation-name: fadeInDownb;
  animation-name: fadeInDownb;
  animation-delay: 0.3s;
}
@keyframes fadeInDownb {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInDownc {
  -webkit-animation-name: fadeInDownc;
  animation-name: fadeInDownc;
  animation-delay: 0.6s;
}
@keyframes fadeInDownc {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.weekly_title {
    position: absolute;
    font-size: 36px;
    color: #5d3609;
    padding: 0 4%;
    text-align: center;
    top: 4%;
    left: 31%;
	font-weight: bold;
}
@media (max-width: 768px) {
	.top_1{width:50%;left:-16vw; top:-16vw;position: absolute;z-index: 500;}
	.top_2{width:100%;left:2vw; top:-1vw;position: absolute;z-index: 600;}	
	.top_3{width:50%;left:62vw; top:-14vw;position: absolute;z-index: 400;}	
	.top_4{width:50%;left:76vw; top:-1vw;position: absolute;z-index: 400;}	
	.weekly_title{font-size: 4vw;left: calc(100%/24.7);}
}
.shake-horizontal {
    animation: 28s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite normal both running shake-horizontal;
}

@-webkit-keyframes shake-horizontal {
    0%, 100% {
        transform: translateY(0px);
    }

    10%, 30%, 50%, 70% {
        transform: translateY(-10px);
    }

    20%, 40%, 60% {
        transform: translateY(10px);
    }

    80% {
        transform: translateY(8px);
    }

    90% {
        transform: translateY(-8px);
    }
}

@keyframes shake-horizontal {
    0%, 100% {
        transform: translateY(0px);
    }

    10%, 30%, 50%, 70% {
        transform: translateY(-10px);
    }

    20%, 40%, 60% {
        transform: translateY(10px);
    }

    80% {
        transform: translateY(8px);
    }

    90% {
        transform: translateY(-8px);
    }
}

.jello-vertical {
	-webkit-animation: jello-vertical 0.9s 0.5s both;
	        animation: jello-vertical 0.9s 0.5s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-15 17:45:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-vertical
 * ----------------------------------------
 */
@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.store_tabletop table{
    background: none;
    border-collapse: separate !important;
    border-spacing: 0px !important;
    margin:0;
	padding: 0;
}
.store_tabletop tbody tr {
    background: none;
    height: 0;
    text-align: center;
	padding: 0;
}

.store_tabletop tbody td {
    padding: 0;
}

.top_1{width: 615px;left: 85px;top: 50px; position: absolute;z-index: 700;}
.card_1{width:259px;right:300px; top:82px; position: absolute;z-index: 600;}
.card_2{width:259px;right:125px; top:221px; position: absolute;z-index: 600;animation-delay:1s;}
.top_3{width:1000px;height: 662px; left:-373px; top:0px; position: absolute;z-index: 100;}
.top_4{width:1000px;height: 662px;right:-373px; top:0px; position: absolute;z-index: 100;}

